@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.edit-task {
  width: 1000px;
  margin: 0 auto;
}

.edit-task-form {
  color: vars.$gray;
}

.edit-task-title,
.edit-task-detail {
  @include mixs.space;
}

.delete-task-button {
  @include mixs.btn-red;
}

.edit-task-button {
  @include mixs.btn-blue
}

.error-message {
  color: vars.$red-strong;
}
