@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: vars.$gray;
}

.edit-list-title {
  @include mixs.space;
}

.delete-list-button {
  @include mixs.btn-red;
}

.edit-list-button {
  @include mixs.btn-blue;
}

.error-message {
  color: vars.$red-strong;
}
