@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: vars.$gray;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: vars.$red-strong;
  border: solid 1px vars.$red-strong;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: vars.$blue-main;
  color: vars.$white;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: vars.$red-strong;
}
