@use '../styles/_variables.scss' as vars;
@use '../styles/_mixins.scss' as mixs;

.taskList {
  margin: 50px auto;
  list-style: none;
  width: 1000px;
}

// .list-header,
// .tasks-header {
//   display: flex;
//   justify-content: space-between;
// }

.list-menu {
  text-align: right;
  @include mixs.tablet {
    text-align: left;
  }
}

.list-tab {
  list-style: none;
  display: flex;
  overflow-x: auto;
  @include mixs.tablet {
    display: block;
  }
}

.list-tab-item {
  flex-shrink: 0;
  width: 100px;
  padding: 0 25px;
  text-overflow: normal;
  margin-right: 5px;
  border: solid 1px vars.$blue-main;
  justify-content: center;
  align-items: center;
  @include mixs.tablet {
    margin: 10px 25px;
  }
}

.active {
  background-color: vars.$blue-main;
  color: vars.$white;
}

.tasks {
  margin-top: 25px;
}

.task-item {
  list-style-type: none;
  height: 100px;
  width: calc(100% - 25px);
  background-color: vars.$white-back;
  padding-left: 25px;
  font-size: large;
  border: solid 1px vars.$white;
}

.task-item-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: vars.$black;
}

.error-message {
  color: vars.$red-strong;
}

.display-select-wrapper {
  text-align: right;
  margin: 0 0 25px auto;
  @include mixs.tablet {
    text-align: left;
  }
}

.display-select {
  width: 100px;
}
