@use '../styles/_variables.scss' as vars;
@use '../styles/_mixins.scss' as mixs;

.new-list {
  width: 1000px;
  margin: 0 auto;
}

.new-list-form {
  color: vars.$gray;
}

.new-list-title {
  @include mixs.space;
}

.new-list-button {
  @include mixs.btn-blue;
}
