@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.new-task {
  width: 1000px;
  margin: 0 auto;
}

.new-task-form {
  color: vars.$blue-main;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  @include mixs.space;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  @include mixs.btn-blue;
}

.error-message {
  color: vars.$red-strong;
}
