@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: vars.$gray;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  @include mixs.btn-blue;
}

.error-message {
  color: vars.$red-strong;
}
