@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.signup {
  width: 500px;
  margin: 0 auto;
}
.signup-form {
  margin: 25px 0;
  color: vars.$gray;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  @include mixs.btn-blue;
}

.error-message {
  color: vars.$red-strong;
}
