@use "../styles/_variables.scss" as vars;
@use "../styles/_mixins.scss" as mixs;

.signin {
  width: 500px;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label,
.password-label {
  color: vars.$gray;
}

.email-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: vars.$blue-main;
  color: vars.$white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: vars.$red-strong;
}
